!!!!!!!!!!!!!!!!!!!!
!! Adapted from https://gitlab.com/dwt1/dotfiles/blob/master/.Xresources
!!!!!!!!!!!!!!!!!!!!

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

URxvt*imLocale: en_GB.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:UbuntuMono Nerd Font:size=12, \
            xft:Inconsolata Nerd Font Mono:size=12, \
            xft:DejaVuSansMono Nerd Font:size=12, \
            xft:DroidSansMono Nerd Font:size=12, \
            xft:FuraMono Nerd Font:size=12, \
            xft:RobotoMono Nerd Font:size=12, \
            xft:Noto Sans Mono:size=12, \
            xft:Monospace:style=Medium:size=12
Urxvt.letterSpace: 2
URxvt.savelines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,url-select,keyboard-select,clipboard,resize-font
URxvt.colorUL: #468284
!! url-select - enter/copy URLs via keyboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvtd -e lynx
URxvt.url-select.underline: true
!! matcher - make URLs clickable
URxvt.url-launcher: urxvtd -e lynx
URxvt.matcher.button: 1
!! keyboard-select - select previous terminal output with keyboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32
!! resize font (using urxvt-resize-font-git aur)
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k


!! Colours  (square brackets give opacity)

! special
URxvt*foreground:   #bbc5ff
URxvt*background:   [90]#292d3e
URxvt*cursorColor:  #bbc5ff

XTerm*foreground: #bbc5ff
XTerm*background: #292d3e
XTerm*cursorColor: #bbc5ff

! black
*.color0:       #101010
*.color8:       #434758

! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #c3e88d
*.color10:      #ddffa7

! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #c792ea
*.color13:      #e1acff

! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
